BLUETOOTH_HEADPHONES_MAC=<BLUETOOTH_HEADPHONES_MAC>

HOTSPOT_SSID=<HOTSPOT_SSID>
HOTSPOT_PASSWORD=<HOTSPOT_PASSWORD>

WIFI_SSID=<WIFI_SSID>
WIFI_PASSWORD=<WIFI_PASSWORD>

LLM=intern-vl3-1b-instruct
LLM_BACKEND_ENDPOINT=http://localhost:8080/v1 # `localhost` here refers to the `compute-server`'s localhost, not the `pi-server`s!
LLM_BACKEND_API_KEY="" # `localhost` here refers to the `compute-server`'s localhost, not the `pi-server`s!

PERIPHERAL_MICROPHONE_CAPTURE_SECONDS=1
PERIPHERAL_MICROPHONE_CAPTURE_MAX_CHUNKS=25
PERIPHERAL_MICROPHONE_SILENCE_DETECTION_MIN_SILENCE_LEN_MS=2000
PERIPHERAL_MICROPHONE_SILENCE_THRESHOLD_DBFS=-25

PERIPHERAL_CAMERA_NUM_FRAMES_TO_CAPTURE=2
PERIPHERAL_CAMERA_FPS=1
PERIPHERAL_CAMERA_WAIT_FOR_NEXT_BATCH_FACTOR=2
