BLUETOOTH_HEADPHONES_MAC=<BLUETOOTH_HEADPHONES_MAC>

HOTSPOT_SSID=<HOTSPOT_SSID>
HOTSPOT_PASSWORD=<HOTSPOT_PASSWORD>

WIFI_SSID=<WIFI_SSID>
WIFI_PASSWORD=<WIFI_PASSWORD>

LLM=qwen2.5vl:3b
LLM_BACKEND_ENDPOINT=http://localhost:11434/v1 # `localhost` here refers to the `compute-server`'s localhost, not the `pi-server`s!
LLM_BACKEND_API_KEY="" # `localhost` here refers to the `compute-server`'s localhost, not the `pi-server`s!
