[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydub = "*"
pyaudio = "*"
httpx = "*"
flask = "*"
flask-cors = "*"
v4l2py = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.9"
