[Unit]
Description=Create hotspot AP Interface
After=network.target

[Service]
Type=oneshot
ExecStart=<DEST_DIR>/scripts/setup-hotspot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
